################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/archive
/Prusa/_to import.3mf
/PrintQueue
